<app-forecast></app-forecast>
<app-notification-list></app-notification-list>
<div class="container">
  <div class="row">
    <div class="col-sm">
      <app-na-article-list></app-na-article-list>
    </div>
  </div>
</div>

<div id="demo">
  <h1>Material Design Responsive Table</h1>
  <h2>Table of my other Material Design works (list was updated 08.2015)</h2>

  <div>
    <!-- Table starts here -->
    <table id="table" >
      <thead>
      <tr>
        <th class="width-75px">ID</th>
        <th >Name</th>
        <th >Link</th>
        <th >Status</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td data-title="ID">1</td>
        <td data-title="Name">Material Design Color Palette</td>
        <td data-title="Link">
          <a href="https://github.com/zavoloklom/material-design-color-palette" target="_blank">GitHub</a>
        </td>
        <td data-title="Status">Completed</td>
      </tr>
      <tr>
        <td data-title="ID">1</td>
        <td data-title="Name">Material Design Color Palette</td>
        <td data-title="Link">
          <a href="https://github.com/zavoloklom/material-design-color-palette" target="_blank">GitHub</a>
        </td>
        <td data-title="Status">Completed</td>
      </tr>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="4">total</td>
        </tr>
      </tfoot>
    </table>
  </div>
</div>
